<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-gif"
        version="1.0.0">

  <name>GIF</name>

  <js-module src="www/GIF.js" name="GIF">
    <clobbers target="window.plugins.gif" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GIF">
        <param name="android-package" value="jeno5980515.cordova.GIF"/>
      </feature>
    </config-file>        
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>
    <source-file src="src/android/libs/commons-codec-1.10.jar" target-dir="libs" />
    <source-file src="src/android/AnimatedGifEncoder.java" target-dir="src/jeno5980515/cordova/"/>
    <source-file src="src/android/GIF.java" target-dir="src/jeno5980515/cordova/"/>
  </platform>

</plugin>